<div class="container left-align">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Gradient-Style</h5>
            <p class="grey-text text-lighten-4">A CSS Library Based on UIGradient colors made just for you.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="http://uigradients.com/" target="_blank">UIGradient</a></li>
                <li><a class="grey-text text-lighten-3" href="http://materializecss.com/" target="_blank">Materialize</a></li>
                <li><a class="grey-text text-lighten-3" href="http://smakosh.com/" target="_blank">Smakosh</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container left-align">
        © 2016 All rights reserved | Gradient-Style
        <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/Ismailghallou/" target="_blank">
            <i class="fa fa-facebook social mow"></i></a>
        <a class="grey-text text-lighten-4 right" href="https://twitter.com/smakosh" target="_blank">
            <i class="fa fa-twitter social mow"></i></a>
        <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/smakosh19/" target="_blank">
            <i class="fa fa-instagram social mow"></i></a>
        <a class="grey-text text-lighten-4 right" href="https://github.com/smakosh" target="_blank">
            <i class="fa fa-github social mow hide-on-small-only"></i></a>

    </div>
</div>
