<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gradient Style</title>
<link rel="icon" href="img/ic.png">
<!-- bower:css -->
<link rel="stylesheet" href="..//lib/animate.css/animate.css" />
<link rel="stylesheet" href="..//lib/materialize/bin/materialize.css" />
<!-- endbower-->
<!-- inject:css -->
<link rel="stylesheet" href="/css/gradient.css">
<link rel="stylesheet" href="/css/style.css">
<!-- endinject-->
<!-- inject:js -->
<script src="/js/clipboard.min.js"></script>
<!-- endinject-->
<!-- bower:js -->
<script src="..//lib/jquery/dist/jquery.js"></script>
<script src="..//lib/materialize/bin/materialize.js"></script>
<!-- endbower-->
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Gradient-Style -->
<link rel="stylesheet" href="css/gradient.css">
<!-- My own style -->
<link rel="stylesheet" href="css/style.css">
<!-- clipboard js-->
<script type="text/javascript" src="js/clipboard.min.js"></script>
