<a href="/" class="btn-large btn btn-flat waves-effect waves-red">Getting Started</a><br>
<a href="/doc" class="btn-large btn btn-flat waves-effect waves-blue">Gradient Classes</a><br>
<a href="/about" class="btn-large btn btn-flat waves-effect waves-cyan">About</a><br>
